<!--  # KiMoSys - web-based platform for Kinetic Models of biological Systems.
# Copyright (C) 2013-2013 Rafael Costa

# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; version 2
# of the License.

# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of

# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software


# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301, USA.-->

<h1>Listing type_params</h1>

<table>
  <tr>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @type_params.each do |type_param| %>
  <tr>
    <td><%= type_param.title %></td>
    <td><%= link_to 'Show', type_param %></td>
    <td><%= link_to 'Edit', edit_type_param_path(type_param) %></td>
    <td><%= link_to 'Destroy', type_param, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<h2>Important note!</h2>

<p>Type must be one of these, otherwise OrganismsHelper must be changed to include more types</p>
<ol>
<% OrganismsHelper.type_params_mapping.each do |m| %>
<li><%= m %></li>
<% end %>
</ol>
<%= link_to 'New Type param', new_type_param_path %>
