<!--  # KiMoSys - web-based platform for Kinetic Models of biological Systems.
# Copyright (C) 2013-2013 Rafael Costa

# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; version 2
# of the License.

# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of

# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software


# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301, USA.-->

<h2 class="green">Need to create a <i>Ki</i>MoSys account?</h2>
</br>
Please enter your personal details, and then click "Create account".
</br>
Please fill in the form below:
</br>
</br>
<%= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= f.inputs do %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :affiliation %>
    <%= f.input :research_interests %>
    <%= f.input :home_page %>
    <%= f.input :email %>
    <%= f.input :password, as: :password %>
    <%= f.input :password_confirmation, as: :password, required: true %>

    <% end %>
  <h3<span class="light-gray"><p>Fields with (<sup class="red">*</sup>) are mandatory.</p></h3>
<!-- </br>
<span class="light-gray"><p>To use <i>Ki</i>MoSys services, you must agree to the "Terms and Condition of use" see <%= link_to "User Guide",'documentation/Documentation_v_1.2.pdf' , class: "azul", target:"_blank"%>.</p></span>-->
</br>
</br>
<b>Note:</b><span class="light-gray"><p>By clicking on "Create account" below, you are agreeing to the &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
	&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp "Terms and Condition of use" see
  <%= link_to "User Guide","#{documentation_index_url}/Documentation_v_1.2.pdf" , class: "azul", target:"_blank"%>.
  <br/>
</span>
</br>

  <%= f.actions do %>
    <%= f.action :submit, label: "Create account"  %>
  <% end %>

<% end %>
</br>
  </br>
<%= render "devise/shared/links" %>
</br>
</br>
