<!--  # KiMoSys - web-based platform for Kinetic Models of biological Systems.
# Copyright (C) 2013-2013 Rafael Costa

# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; version 2
# of the License.

# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of

# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software


# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301, USA.-->

<h2 class="green"> Related External LINKS TO</h2>
<br/>
<h3 class="green"> Kinetic simulation tools</h3>
<p> &bull; <%= link_to 'CellDesigner','http://www.celldesigner.org', class: "blue link_out", target: "_blank"%>  - Modeling tool for biochemical networks </p>
<p> &bull; <%= link_to 'PottersWhell','http://www.potterswheel.de', class: "blue link_out", target: "_blank"%>  - Mathematical modeling of dynamical systems </p>
<br/>
<h3 class="green"> Parameter estimation tools</h3>
<p> &bull; <%= link_to 'SBML-PET-MPI','http://sites.google.com/site/sbmlpetmpi/', class: "blue link_out", target: "_blank"%>  - Parameter estimation tool for SBML based models</p>
<p> &bull; <%= link_to 'Copasi','http://www.copasi.org', class: "blue link_out", target: "_blank"%>  - Biochemical network simulator </p>
<p> &bull; <%= link_to 'SBTOOLBOX2','http://www.sbtoolbox2.org', class: "blue link_out", target: "_blank"%>  - Systems Biology toolbox for MATLAB </p>
<!--<p class="red"><div><%= link_to 'SBML-PET','http://www.celldesigner.org', class: 'red'%>  - Modeling tool for biochemical networks </p></div>-->
<br/>

<h3 class="green"> Standards and exchange formats</h3>
<p> &bull; <%= link_to 'SBML','http://www.sbml.org', class: "blue link_out", target: "_blank"%>  - Systems Biology Markup Language </p>
<p> &bull; <%= link_to 'MIRIAM','http://www.ncbi.nlm.nih.gov/pubmed/16333295', class: "blue link_out", target: "_blank"%>  - Minimum Information Requested in the Annotation of Models</p>
<p> &bull; <%= link_to 'MIASE','http://www.ploscompbiol.org/article/info%3Adoi%2F10.1371%2Fjournal.pcbi.1001122', class: "blue link_out", target: "_blank"%>  - Minimum Information About a Simulation Experiment</p>
<p> &bull; <%= link_to 'SBGN','http://www.sbgn.org', class: "blue link_out", target: "_blank"%>  - Systems Biology Graphical Notation </p>
<p> &bull; <%= link_to 'SED-ML','http://sed-ml.org', class: "blue link_out", target: "_blank"%>  - Simulation Experiment Description Markup Language </p>
<p> &bull; <%= link_to 'BioPAX','http://biopax.org', class: "blue link_out", target: "_blank"%>  - Biological Pathways Exchange </p>
<br/>
<h3 class="green"> Databases</h3>
<p class="green"> <b>Pathways</b></p>
<p> &bull; <%= link_to 'KEGG','http://www.genome.jp/kegg', class: "blue link_out", target: "_blank"%>  - Kyoto Encyclopedia of Genes and Genomes </p>
<p> &bull; <%= link_to 'WikiPathways','http://www.wikipathways.org/', class: "blue link_out", target: "_blank"%>  - Biological pathways for the scientific community </p>
<p> &bull; <%= link_to 'Reactome','http://www.reactome.org', class: "blue link_out", target: "_blank"%>  - Manually curated pathway database </p>

<p class="green"> <b>Kinetic information</b></p>
<p> &bull; <%= link_to 'BRENDA','http://www.brenda-enzymes.info', class: "blue link_out", target: "_blank"%>  - Kinetic parameters for several organisms </p>
<p> &bull; <%= link_to 'Sabio-RK','http://sabio.h-its.org', class: "blue link_out", target: "_blank"%>  - Biochemical reactions and their kinetic properties </p>
<p> &bull; <%= link_to 'BioNumbers','http://bionumbers.hms.harvard.edu', class: "blue link_out", target: "_blank"%>  - Key numbers in molecular biology </p>
<p> &bull; <%= link_to 'TECR','http://xpdb.nist.gov/enzyme_thermodynamics/enzyme_thermodynamics_data.html', class: "blue link_out", target: "_blank"%>  - Thermodynamics of Enzyme-Catalyzed Reactions </p>

<p class="green"> <b>Metabolic reconstructions</b></p>
<p> &bull; <%= link_to 'BIGG','http://bigg.ucsd.edu/', class: "blue link_out", target: "_blank"%>  - Biochemical Genetic and Genomic knowledgebase of large scale metabolic
reconstructions </p>
<p> &bull; <%= link_to 'GSMNDB','http://synbio.tju.edu.cn/GSMNDB/gsmndb.htm', class: "blue link_out", target: "_blank"%>  - Genome-scale metabolic networks </p>

<p class="green"> <b>Other data resources</b></p>
<p> &bull; <%= link_to 'Stranford Microarray database','http://smd.princeton.edu/', class: "blue link_out", target: "_blank"%>  - Database of microarray experiments
reconstructions </p>
<p> &bull; <%= link_to 'Gene Expression Omnibus','http://www.ncbi.nlm.nih.gov/geo/', class: "blue link_out", target: "_blank"%>  - Gene expression data from microarray and high throughput sequencing studies </p>


<br/>
<br/>
<div class="right">
<%= link_to 'Top', "#top" %>
</div>
<br/>