<!--  # KiMoSys - web-based platform for Kinetic Models of biological Systems.
# Copyright (C) 2013-2013 Rafael Costa

# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; version 2
# of the License.

# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of

# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software


# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301, USA.-->


<table id="quicksTable">
<!--<th><h3>General information</h3></th> class="space"-->
  <thead>
  <tr>

	<th class="bluelight">Id</th>
	<th class="bluelight">Created At</th>
    <th class="bluelight">email</th>  
    <th class="bluelight">file</th>
	
    
  </tr>
  </thead>
  <tbody>
<% @quicks.each do |q| %>
  <tr>
    <td class="space4"><%= link_to q.id, q %></td>
	<td class="space2"><i><%= q.created_at %></td>
    <td class="space2"><i><%= q.email %></td>
    <td class="space3 not_justified"><%= q.file_file_name %></td>
    
  </tr>



<% end %>
</tbody>
</table>

<div class="right">
<%= link_to 'Top', "#top" %>
</div>
<br/>